//Primary
$Red: hsl(0, 100%, 74%);
$Green: hsl(154, 59%, 51%);

//Accent
$Blue: hsl(248, 32%, 49%);

//Neutral
$darkBlue: hsl(249, 10%, 26%);
$grayishBlue: hsl(246, 25%, 77%);

body {
	background-image: url("/images/bg-intro-mobile.png");
	background-repeat: no-repeat;
	margin: 2rem auto;
	background-color: $Red;
	background-position: center;
	background-size: 110%;
	font-family: "Poppins", sans-serif;
	text-align: center;

	@media screen and (min-width: 1000px) {
		background-image: url("/images/bg-intro-desktop.png");
	}
}

.wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	@media screen and (min-width: 1000px) {
		height: 100vh;
	}
}

.title,
.para,
.trial,
.btn {
	color: whitesmoke;
}

.title {
	width: 80%;
	font-size: 1.5rem;
	margin: 0 auto;

	@media screen and (min-width: 1000px) {
		width: 100%;
		text-align: left;
		font-size: 2.5rem;
	}
}

.para {
	font-weight: 500;
	font-size: 0.95rem;
	@media screen and (min-width: 1000px) {
		text-align: left;
	}
}

.trial {
	background-color: $Blue;
	border-radius: 8px;
	text-align: center;
	padding: 15px 0;
	font-size: 0.85rem;
	line-height: 1.8;
	margin-bottom: 1.5rem;
	box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.18);

	&__span {
		font-weight: 600;
		display: block;
	}
}

form {
	background-color: white;
	border-radius: 8px;
	padding: 0.5rem 0.25rem;
}

.btn {
	background-color: $Green;
	border: none;
	border-radius: 8px;
	margin: 0 auto;
}

input {
	display: block;
	margin: 1rem auto;
	padding: 1.3em;
	font-size: 0.8rem;
	border: 1px solid $grayishBlue;
	border-radius: 5px;
	width: 78%;

	&::placeholder {
		font-weight: 600;
	}
}

.error-message {
	text-align: right;
	display: block;
	margin-top: -15px;
	font-size: 12px;
	color: red;
	padding-right: 15px;

	@media screen and (min-width: 1000px) {
		padding-right: 38px;
	}

	&-hidden {
		display: none;
	}

	&-show {
		display: block;
	}
}

.btn {
	padding: 1rem 2rem;
	text-transform: uppercase;
	font-size: 0.9rem;
	width: 90%;
	font-weight: 600;
	box-shadow: 0px 3px 2px hsla(154, 59%, 33%, 0.8);
	cursor: pointer;
	transition: all 0.3s ease-in;

	&:hover {
		background-color: $Blue;
	}

	&:active {
		transform: translateY(2px);
		box-shadow: none;
	}
}

.icon {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 16px;
	right: 20px;
	pointer-events: none;
	z-index: 2;
	display: none;

	&-show {
		display: inline-block;
	}

	@media screen and (min-width: 1000px) {
		right: 45px;
	}
}

.input-group {
	position: relative;
}

.terms {
	color: $grayishBlue;
	font-size: 0.7rem;
	width: 80%;
	margin: 0.55rem auto;

	&__span {
		color: $Red;
		font-weight: 600;
	}
}

.container {
	width: 310px;
	margin: 0 auto;

	@media screen and (min-width: 1000px) {
		width: 1000px;
		display: flex;
	}
}

.intro {
	@media screen and (min-width: 1000px) {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.validation {
	@media screen and (min-width: 1000px) {
		width: 50%;
	}
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: $Blue;
}
